<%= form_for(@project, :html => {:class => 'form'}) do |f| %>
  <%= render 'shared/errors', object: @project %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :target_pledge_amount %>
  <%= f.number_field :target_pledge_amount %>

  <%= f.label :pledging_ends_on %>
  <%= f.datetime_select :pledging_ends_on %>

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.label :team_members %>
  <%= f.text_field :team_members %>

  <%= f.label :image_file_name %>
  <%= f.text_field :image_file_name %>

  <div class="form-buttons">
    <%= f.submit %>
    <%= link_to "Cancel", projects_path %>    
  </div>
<% end %>
