<h1><%= pluralize(@projects.size, 'Project') %></h1>

<% @projects.each do |project| %>
  <article class="main-content">
    <header>
      <h3><%= link_to project.name, project %></h3>
      <p><%= truncate(project.description, length: 150, separator: ' ') %></p>
      <%= image_for(project) %>
    </header>
    <table>
      <tr>
        <td>Target pledge amount:</td>
        <td><%= number_to_currency(project.target_pledge_amount) %></td>
      </tr>
      <tr>
        <td>Pledging ends on:</td>
        <td><%= format_date(project) %></td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><%= project.website %></td>
      </tr>
      <tr>
        <td> <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    </table>
  </article>
<% end %>
