<h1><%= @projects.size %> Projects</h1>

  <% @projects.each do |project| %>
    <article>
      <header>
        <h3><%= project.name %></h3>
        <p><%= project.description %></p>
      </header>
      <table>
        <tr>
          <th>Target pledge amount:</th>
          <td><%= number_to_currency(project.target_pledge_amount) %></td>
        </tr>
        <tr>
          <th>Pledging ends on:</th>
          <td><%= project.pledging_ends_on %></td>
        </tr>
        <tr>
          <th>Website:</th>
          <td><%= project.website %></td>
        </tr>
      </table>
    </article>
  <% end %>
