<article class="single-project-wrapper">
  <header class="single-project-header" style="background-image: url(<%= image_for(@project) %>)">
    <h2><%= @project.name %></h2>
  </header>
  <section class="project-description">
    <p><%= @project.description %></p>
    <p>
      <strong>Target pledge amount: </strong>
      <%= number_to_currency(@project.target_pledge_amount) %>
    </p>
    <p>
      <strong>Pledging ends on: </strong>
      <%= format_date(@project) %>
    </p>
    <p>
      <strong>Website: </strong>
      <%= link_to(@project.website, @project.website, class: 'project-website') %>
    </p>
    <p>
      <strong>Team members: </strong>
      <%= @project.team_members %>
    </p>
    <p class="pledges-amount">
      <%= link_to pluralize(@project.pledges.size, "pledge"), 
                    project_pledges_path(@project) %>
    </p>
    <%= pledge_link(@project) %>
    <nav class="bottom-links">
      <%= link_to "All projects", projects_path %>
      <%= link_to "Edit", edit_project_path(@project) %>
      <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %> 
    </nav>    
  </section>
</article>
