<article class="main-content">
  <header class="single-project-header">
    <h2><%= @project.name %></h2>
    <%= image_for(@project) %>
  </header>
  <h4 class="project-description-title">Description</h4>
  <p><%= @project.description %></p>
  <p>
    <strong>Target pledge amount: </strong>
    <%= number_to_currency(@project.target_pledge_amount) %>
  </p>
  <p>
    <strong>Pledging ends on: </strong>
    <%= format_date(@project) %>
  </p>
  <p>
    <strong>Website: </strong>
    <%= @project.website %>
  </p>
  <p>
    <strong>Team members: </strong>
    <%= @project.team_members %>
  </p>
  <p>
    <%= link_to pluralize(@project.pledges.size, "pledge"), 
                  project_pledges_path(@project) %>
  </p>
  <%= link_to 'Pledge!', new_project_pledge_path(@project) %>
  <nav class="bottom links">
    <%= link_to "All projects", projects_path %>
    <%= link_to "Edit", edit_project_path(@project) %>
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %> 
  </nav>
</article>


