<!DOCTYPE html>
<html>
  <head>
    <title>FUNdit</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if content_for?(:hero) %>
      <%= yield :hero %>
    <% end %>

    <%= render "layouts/flashes" %>

    <main>
      <section id="content">
        <%= yield %>
        <%= render "layouts/sidebar" %>
      </section>

      
    </main>



    <%= render "layouts/footer" %>
  </body>
</html>
