<!DOCTYPE html>
<html>
  <head>
    <title>FUNdit</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= render "layouts/header" %>

      <% if content_for?(:hero) %>
        <%= yield :hero %>
      <% end %>

      <%= render "layouts/flashes" %>

        <section id="<%= @main_container_id ||'content' %>">
          <%= yield %>
          <%= render "layouts/sidebar" %>
        </section>

      <%= render "layouts/footer" %>
    </main>
  </body>
</html>
