<!DOCTYPE html>
<html>
  <head>
    <title>FUNdit</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if content_for?(:hero) %>
      <%= yield :hero %>
    <% end %>

    <main id="wrapper">

      <%= render "layouts/flashes" %>

      <div id="container">
        <section id="sidebar">
          <%= render "layouts/sidebar" %>
        </section>
        <section id="content">
          <%= yield %>
        </section>
      </div>

    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
